body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

header {
    padding-bottom: 6rem;
    padding-top: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10.75rem;
    background-color: #5ce4ca;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container__logo {
    cursor: pointer;
}

.menu {
    display: flex;
    gap: 2.6rem;
    list-style-type: none;
    margin-left: 7rem;
}

.menu--color {
    color: #003d31;
}
a {
    text-decoration: none;
}

.container__btn {
    display: flex;
    gap: 1.25rem;
    align-items: center;
}

.container__btn--log {
    padding: 0.5rem 1.5rem;
    border: solid 1px #003d31;
    border-radius: 0.2rem;
    color: #003d31;
}

.container__btn--sign {
    padding: 0.5rem 1.5rem;
    border-radius: 0.2rem;
    color: white;
    background-color: #003d31;
    border: solid 1px #003d31;
}

.section_1 {
    background-color: #5ce4ca;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}

.head {
    font-size: 4.5rem;
    padding: 1rem 2.4rem;
    border-radius: 1.1rem;
    background-color: white;
    color: #003d31;
}

.section_1-head {
    display: flex;
    gap: 1.25rem;
}

.head-text--color {
    background-color: #fffaa4;
    font-weight: 700;
}

.section_1__text {
    text-align: center;
    max-width: 35.8rem;
    height: 5.25rem;
    color: #003d31;
    font-size: 1.1rem;
    line-height: 1.75rem;
    margin-top: 0.5rem;
}

.section_1__btn {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    margin-top: 1.75rem;
    margin-bottom: 6.25rem;
}

.btn--spanish {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.9rem 2.1rem;
    background-color: white;
    border-radius: 0.3rem;
    color: #003d31;
}

.btn--start {
    padding: 0.9rem 2.1rem;
    color: white;
    border-radius: 0.3rem;
    background-color: #003d31;
}

.btn--spanish__location {
    transform: translate(-25%);
}

.section_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8.1rem;
    margin-bottom: 10.6rem;
    margin-top: 10.625rem;
}

.section_2__head {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    max-width: 35.9rem;
}

.section_2__head-text {
    font-weight: 700;
    font-size: 2.9rem;
    color: #003d31;
    line-height: 3.2rem;
    letter-spacing: -0.2rem;
}

.span-head--color {
    color: #5ce4ca;
    font-weight: 700;
}

.section_2__text {
    color: #596966;
    line-height: 1.75rem;
    letter-spacing: -0.01rem;
}

.section_3 {
    min-height: 60vh;
    display: grid;
    place-content: center;
    margin-bottom: 10.6rem;
}

.section_3__head {
    margin-inline: auto;
    margin-bottom: 4rem;
    max-width: 38rem;
    font-size: 2.8rem;
    color: #003d31;
    text-align: center;
    font-weight: 700;
}

.section_3-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        'planet book wall'
        'comment tablet clock';
    place-content: center;
    gap: 2rem;
}

.card--square {
    border: none;
    border-radius: 1.3rem;
    width: 23.1rem;
    height: 14rem;
    background-color: #fffae9;
    color: #596966;
}

.color--span {
    color: #003d31;
    font-weight: 700;
}

.section_3-card--planet {
    grid-area: planet;
}

.section_3-card--book {
    grid-area: book;
}

.section_3-card--wall {
    grid-area: wall;
}
.section_3-card--comment {
    grid-area: comment;
}

.section_3-card--tablet {
    grid-area: tablet;
}

.section_3-card--clock {
    grid-area: clock;
}
.card__svg-content {
    padding-left: 1.37rem;
    padding-top: 2.6rem;
}

.card__text-content {
    padding-left: 1.37rem;
    padding-top: 1.3rem;
}

.section_4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10.6rem;
}

.section_4-flex {
    display: flex;
    gap: 8.1rem;
    justify-content: center;
}

.section_4-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
    width: 35.6rem;
}

.section_4__head-text {
    font-weight: 700;
    font-size: 2.9rem;
    color: #003d31;
    line-height: 3.2rem;
    letter-spacing: -0.2rem;
}

.section_4--color {
    color: #5ce4ca;
}

.section_4__text {
    color: #596966;
    line-height: 1.75rem;
    letter-spacing: -0.01rem;
}

.section_4__btn {
    width: fit-content;
    padding: 0.9rem 2.1rem;
    background-color: #fffaa4;
    border-radius: 0.3rem;
    color: #003d31;
    margin-top: 1.2rem;
    font-size: 1.1rem;
    line-height: 1.75rem;
}

.section_5 {
    padding: 6.25rem 0;
    background-color: #ff7d7d;
}

.section_5-flex {
    display: flex;
    justify-content: center;
    gap: 3.1rem;
}

.section_5__head {
    margin-left: 2rem;
}

.section_5__head-text {
    color: #003d31;
    font-size: 2.25rem;
    line-height: 2.8rem;
}

.section_6 {
    background-color: #fffae9;
    display: flex;
    flex-direction: column;
    gap: 4.3rem;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.section_6__header {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.25rem;
}

.section_6__head {
    color: #003d31;
    font-size: 2.875rem;
    line-height: 2.8rem;
}

.section_6__text {
    max-width: 35.6rem;
    color: #596966;
    line-height: 1.75rem;
    letter-spacing: -0.01rem;
}

.section_6__card {
    display: flex;
    justify-content: center;
    gap: 1.8rem;
    width: 20.6rem;
}

.text-center {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.section_6_card--gap {
    display: flex;
    flex-direction: column;
    gap: 2.1rem;
    padding: 2.5rem 1.25rem;
    border-radius: 0.4rem;
    background-color: white;
}

.section_6_card_head {
    display: flex;
    gap: 1rem;
}

.section_6_card_svg {
    display: flex;
    gap: 1.25rem;
}

.section_6__dot {
    cursor: pointer;
}

.section_7 {
    display: flex;
    justify-content: center;
    gap: 8rem;
    padding: 100px 0;
    background-color: #5ce4ca;
    align-items: flex-end;
}

.section_7-gap_1 {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
}

.section_7-gap_2 {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.section_7__text {
    width: 35.6rem;
    line-height: 1.75rem;
}

.section_7__head {
    font-size: 2.9rem;
    padding: 1rem 2.4rem;
    border-radius: 1.1rem;
    background-color: white;
    color: #003d31;
    line-height: 3.25rem;
    font-weight: 700;
}

.section_7__head--color {
    font-size: 2.9rem;
    padding: 1rem 2.4rem;
    border-radius: 0.5rem;
    color: #003d31;
    line-height: 3.25rem;
    font-weight: 700;
    background-color: #fffaa4;
}

.section_7--btn {
    display: flex;
    gap: 1.1rem;
}

.footer-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 5rem;
}
.header__title {
    font-size: 2.9rem;
    line-height: 3.25rem;
    font-weight: 700;
    color: #003d31;
    margin-bottom: 1.25rem;
}

.header__text {
    color: #596966;
    font-weight: 700;
}

.header__img {
    padding-top: 5rem;
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: #fffae9;
}

.main {
    display: flex;
    gap: 6.25rem;
    justify-content: center;
    margin: 50px 0;
}

.flex-d {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
}

.margin {
    margin-top: 3.2rem;
}

.header__text--color {
    color: #003d31;
    text-decoration: underline;
    margin-top: 1.75rem;
}

.footer-container {
    display: grid;
    justify-content: center;
    padding-right: 9rem;
}

.title-decoration {
    text-decoration: none;
}

.item--color {
    color: #003d31;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2rem;
}

.container--language {
    display: flex;
    gap: 1.1rem;
    margin-top: 1.5rem;
}

.text--color {
    color: #596966;
}

.footer__copyright {
    font-size: 1rem;
    line-height: 1.6rem;
}

.icon {
    display: flex;
    justify-content: center;
    gap: 32.5rem;
    margin: 2rem 0 3rem 0;
    align-items: center;
}

.social-network {
    display: flex;
    gap: 0.9rem;
    align-items: flex-start;
}

.icon-pointer {
    cursor: pointer;
}

@media (max-width: 1230px) {
    header {
        gap: 4rem;
    }

    .section_2 {
        gap: 2rem;
    }

    .section_2--girl {
        width: 22rem;
    }

    .section_3-card {
        gap: 0.5rem;
    }

    .card--square {
        width: 19.1rem;
    }

    .section_4-flex {
        gap: 2rem;
    }

    .section_4-head {
        width: 31.6rem;
    }

    .section_4__text {
        width: 31rem;
    }

    .section_4--girl {
        width: 24rem;
    }

    .section_5 {
        padding: 4rem;
    }

    .section_6__card {
        gap: 0.8rem;
    }

    .section_6_card--gap {
        padding: 1.25rem 0.75rem;
        width: 20rem;
    }

    .section_6--solid {
        max-width: 15rem;
    }

    .section_7 {
        align-items: center;
    }
}
@media (max-width: 1005px) {
    header {
        gap: 1rem;
    }

    .head {
        font-size: 3rem;
    }

    .menu {
        margin-left: 0;
    }
    .section_2__head {
        max-width: 19.9rem;
    }

    .section_3-card {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            'planet book '
            'wall comment'
            'tablet clock';
    }

    .section_4-head {
        width: 22rem;
    }

    .section_4__text {
        width: 21rem;
    }

    .section_4__head-text {
        width: 24rem;
    }

    .section_4-flex {
        gap: 0rem;
    }

    .section_5-flex {
        gap: 1.5rem;
    }

    .section_6__card {
        flex-direction: column;
    }

    .section_7 {
        gap: 1rem;
    }

    .section_7__head {
        font-size: 2.5rem;
        padding: 1rem;
    }

    .section_7__head--color {
        font-size: 2.5rem;
        padding: 1rem;
    }

    .section_7__text {
        width: 20.6rem;
    }

    .footer-container {
        margin-left: 3rem;
    }
}

@media (max-width: 800px) {
    header {
        flex-direction: column;
        padding-bottom: 3rem;
    }

    .head {
        padding: 0.5rem;
    }

    .section_1 {
        gap: 2rem;
    }

    .section_2 {
        flex-direction: column;
        margin-top: 3.7rem;
        margin-bottom: 6.6rem;
    }

    .section_2__head {
        max-width: 24.9rem;
    }

    .section_3-card {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
        grid-template-areas:
            'planet '
            'book'
            'wall'
            'comment'
            'tablet'
            'clock';
    }

    .section_4 {
        margin-bottom: 7.6rem;
    }

    .section_4-flex {
        flex-direction: column;
        gap: 1rem;
    }

    .section_4__head-text {
        width: 25rem;
    }

    .section_5 {
        padding: 1rem;
    }

    .section_5-flex {
        gap: 0;
    }

    .section_5__head-text {
        font-size: 1.5rem;
    }

    .section_7 {
        flex-direction: column;
    }

    .main {
        gap: 1.25rem;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        margin-left: 0;
    }

    .container--language {
        display: block;
        max-width: 36rem;
    }

    .text--color {
        margin-right: 2rem;
    }

    .icon {
        gap: 2rem;
    }
}

@media (max-width: 500px) {
    .menu {
        gap: 1.6rem;
    }

    .head {
        font-size: 2.5rem;
        padding: 0.3rem;
    }

    .section_1-head {
        gap: 0.5rem;
    }

    .section_2 {
        text-align: center;
    }

    .section_2__head-text {
        width: 23rem;
    }

    .section_4-flex {
        align-items: center;
    }

    .section_4__head-text {
        width: 22rem;
    }

    .section_4--girl {
        width: 23rem;
    }

    .section_5__head {
        margin-left: 1rem;
    }

    .section_5__head-text {
        font-size: 1.3rem;
        line-height: 2rem;
    }

    .section_5-flex {
        gap: 0;
    }

    .section_6__head {
        line-height: 3.8rem;
    }

    .main {
        gap: 0;
    }

    .text--color {
        margin-right: 0;
    }

    .flex-d {
        margin-left: 0.4rem;
        gap: 0.7rem;
    }

    .footer-container {
        align-items: center;
        padding-right: 0;
    }

    .container--language {
        text-align: center;
    }
}
